@import './variables';

.header {
  padding: 10px 40px;
  border-bottom: 1px solid #e5e5e5;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
  }
}
